#Header{
    margin-bottom: 0;
    margin-top: 4px;
    width: 100%;
    height: 79px;
    background-color: #46d146;
    opacity: 0.75;
    border-style: groove;
}
#Navigation{
    width: 100%;
    height: 27px;
    background-color: #D21620;
    padding: 0;
    opacity: 0.75;
}
#LoginArea {
    margin: 0;
    padding: 0;
    float:right;
    width: 180px;
    height: 80px;
    background-color: #1D279B;
}
#Main{
    background-color: #235789;
    height: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#Picture_Slider {
    width: 600px;
    height: 342px;
    margin-top: 116px;
    background-color: #235789;
}
#Header_Nav{
    position: fixed;
    width: 100%;
    height: 107px;
    background-color: transparent;
    z-index: 20;
}
#TopSpace{
    width: 100%;
    height: 1px;
}
#Highlighter{
    background-color: #46d146;
    width: 116px;
    height: 80px;
    margin-left: 20px;
}
#Logo{
    margin-left: 20px;
}
#image1{
    width: 600px;
    height: 300px;
}
#image2{
    width: 600px;
    height: 170px;
}
#image3{
    width: 600px;
    height: 342px;
}
#image4{
    width: 600px;
    height: 300px;
}